<div class="card h-100 box-shadow">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="my-auto">
    <div class="d-flex flex-column mt-3 mb-3">
        <div class="container-fluid mt-auto">
            <a [routerLink]="['/Shop/{{product.id}}']" class="row">
                <h6 class="text-uppercase">{{product.name}}</h6>
            </a>
            <span class="mb-2 row">{{product.price | currency}}</span>
            <div class="btn-group mt-auto">
                <button type="button" class="btn btn-outline-secondary fa fa-shopping-cart mr-2"></button>
                <button type="button" class="btn btn-outline-secondary" routerLink="/Shop/{{product.id}}">View</button>
            </div>
        </div>
    </div>
</div>