<div class="mt-4" [formGroup]="check">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Shipping address</h4>
        <button 
            class="btn btn-outline-success mb-3"
            (click)="saveUserAddress()"
            [disabled]="!check.get('addressForm').valid || !check.get('addressForm').dirty">
            Save as default address
        </button>
    </div>
    <div class="row" formGroupName="addressForm">
        <div class="form-group col-6">
            <app-text-input [label]="'City'" formControlName="city"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Street'" formControlName="street"></app-text-input>
        </div>
        <div class="form-group col-12">
            <app-text-input [label]="'Zip code'" formControlName="zipCode" [type]="'number'"></app-text-input>
        </div>
        <div class="form-group col-12">
            <label for="CityInput" class="ml-1">Governorate</label>
            <select class="form-control" id="CityInput" formControlName="state">
                <option>Suez</option>
                <option>Cairo</option>
                <option>Ismailia</option>
                <option>Alexandria</option>
                <option>Minya</option>
            </select>
        </div>
    </div>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-danger" routerLink="/basket">
        <i class="fa fa-angle-left"></i> Back to basket
    </button>
    <button class="btn btn-success" cdkStepperNext>
        Go to delivery <i class="fa fa-angle-right"></i>
    </button>
</div>  