<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" [routerLink]="['/Shop']"><img src="../assets/logo.png" alt="logo-img"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link text-primary as" [routerLink]="[''] " routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-primary as" routerLink="/Shop" routerLinkActive="active">Shop</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link text-dark mx-3" href="#"><i class="fa fa-shopping-cart fa-2x"></i></a>
            </li>
            <ng-container *ngIf="(currentUser$ | async)===null">
              <li class="nav-item active">
                <a routerLink="/account/login"  class="nav-link btn btn-success text-white mr-3" href="#">Login</a>
            </li>
            <li class="nav-item active">
                <a routerLink="/account/register" class="nav-link btn btn-primary text-white ml-3" href="#">Sign up</a>
            </li>
            </ng-container>

            <ng-container *ngIf="(currentUser$ | async)">
              <li class="dropdown ml-3 mr-5" dropdown>
                <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
                  <strong>Welcome {{(currentUser$ | async).userName}}</strong>
                </a>

            <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
            <a href="/basket" class="dropdown-item d-flex align-items-center py-2">
              <i class="fa fa-shopping-cart mr-3"></i> View Basket
            </a>

            <a href="/orders" class="dropdown-item d-flex align-items-center py-2">
              <i class="fa fa-history mr-3"></i> View Orders
            </a>
            <div class="dropdown-divider"></div>
            <a href="" class="dropdown-item d-flex align-items-center py-2" (click)="logOut()">
              <i class="fa fa-sign-out mr-3"></i> Logout
            </a>
            </div>
          </li>
            </ng-container>

        </ul>
    </div>
</nav>
