<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center flex-column my-auto">
        <div class="row">
            <h1 class="text-bold my-5">Welcome to our E-commerce site</h1>
        </div>
        <div class="row">
            <div class="col-6 d-flex justify-content-center align-items-center flex-column my-auto">
                <h2 class="text-bold">Select your new device easily</h2>
                <p class="col-8 text-center">Buy any device you need easily at a click of a button, no need to worry about shipment or delivery</p>
                <a class="col-6 btn btn-dark" [routerLink]="['/shop']">Shop Now !</a> 
            </div>
            <div class="col-6">
                <img src="https://localhost:5001/images/Laptops/01-Dell_Vostoro.png" class="img-fluid">
            </div>
        </div>
    </div>
</div>

